.upload_warp:after{content: ' ';font-size: 0;display: block;height: 0;clear: both;}
.upload_warp{display: none;border: 1px solid #cccccc;padding: 5px;opacity: 0;margin-top: 10px;}
.upload_warp .upload_item{position: relative;width: 100px;height: 100px;padding: 5px;box-sizing: border-box;overflow: hidden;float: left;cursor: move;}
.upload_warp .upload_item img{width: 100%;height: 100%;box-shadow: 2px 2px 5px #cccccc;}
.upload_warp .upload_item .upload_del_btn{display: inline-block;position: absolute;top: 5px;right: 5px;font-size: 14px;padding: 2px 4px;background-color: #FF0000;color: #FFFFFF;cursor: pointer;}
.upload_chose{box-sizing: border-box; border: 2px dashed #CCCCCC;overflow: hidden;}
.upload_ghost span,.upload_ghost img{opacity: 0}
.upload_chose img{border-radius: 10px;transform: scale(0.9);}
.upload_chose span{opacity: 0}
.upload_add_btn{width: 100px;height: 100px;border: 1px solid #ccc;line-height: 90px;font-size: 64px;color: #ccc;text-align: center;user-select: none;position: relative;}
.upload_add_btn .upload_add_img{cursor: pointer;}
.upload_add_btn .upload_model{ opacity: 0;font-size: 12px;line-height: 20px;position: absolute;width: 100%;height: 0;overflow:hidden;color: #fff;top: 0;left: 0;z-index: -1;background-color: rgba(250,0,0,0.6);transition: height 0.3s;cursor: pointer;}
.upload_add_btn:hover .upload_model{height: 20px}
.upload_add_btn img{width: 100%;position: absolute;left: 0;top: 0;}
.upload_add_btn img ~ .upload_model{z-index: 1;opacity: 1;}